USE [master]
GO
/****** Object:  Database [J3.L.P0010]    Script Date: 9/30/2020 2:32:07 PM ******/
CREATE DATABASE [J3.L.P0010]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J3.L.P0010', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\J3.L.P0010.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'J3.L.P0010_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\J3.L.P0010_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J3.L.P0010].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J3.L.P0010]
GO
/****** Object:  Table [dbo].[tblArticle]    Script Date: 9/30/2020 2:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblArticle](
	[postId] [int] IDENTITY(1,1) NOT NULL,
	[image] [varbinary](max) NULL,
	[datePost] [datetime] NOT NULL CONSTRAINT [DF_tblArticle_datePost]  DEFAULT (getdate()),
	[postTitle] [nvarchar](200) NOT NULL,
	[postDescription] [nvarchar](500) NOT NULL,
	[userEmail] [nvarchar](100) NOT NULL,
	[postStatus] [varchar](10) NOT NULL DEFAULT ('A'),
 CONSTRAINT [PK_tblArticle] PRIMARY KEY CLUSTERED 
(
	[postId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblComment]    Script Date: 9/30/2020 2:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblComment](
	[commentId] [int] IDENTITY(1,1) NOT NULL,
	[postId] [int] NOT NULL,
	[userEmail] [nvarchar](100) NOT NULL,
	[commentContent] [nvarchar](500) NOT NULL,
	[commentDate] [datetime] NULL DEFAULT (getdate()),
	[commentStatus] [varchar](10) NULL DEFAULT ('A'),
PRIMARY KEY CLUSTERED 
(
	[commentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblEmotion]    Script Date: 9/30/2020 2:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEmotion](
	[emotionId] [int] IDENTITY(1,1) NOT NULL,
	[postId] [int] NOT NULL,
	[userEmail] [nvarchar](100) NOT NULL,
	[emotionDate] [datetime] NULL DEFAULT (getdate()),
	[emotionType] [varchar](10) NOT NULL,
	[emotionStatus] [varchar](10) NOT NULL CONSTRAINT [DF_tblEmotion_emotionStatus]  DEFAULT ('A'),
PRIMARY KEY CLUSTERED 
(
	[emotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblNotification]    Script Date: 9/30/2020 2:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblNotification](
	[notificationId] [int] IDENTITY(1,1) NOT NULL,
	[postId] [int] NOT NULL,
	[userEmail] [nvarchar](100) NOT NULL,
	[notificationContent] [nvarchar](500) NOT NULL,
	[notificationDate] [datetime] NULL DEFAULT (getdate()),
	[notificationType] [varchar](10) NOT NULL,
	[notificationStatus] [varchar](10) NULL DEFAULT ('A'),
PRIMARY KEY CLUSTERED 
(
	[notificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 9/30/2020 2:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblStatus](
	[statusId] [varchar](10) NOT NULL,
	[statusName] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblStatus] PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 9/30/2020 2:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUser](
	[userEmail] [nvarchar](100) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[password] [char](64) NOT NULL,
	[userStatus] [varchar](10) NULL CONSTRAINT [DF_tblUser_userStatus]  DEFAULT ('N'),
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[userEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblArticle] ON 

SET IDENTITY_INSERT [dbo].[tblArticle] OFF
SET IDENTITY_INSERT [dbo].[tblComment] ON 

INSERT [dbo].[tblComment] ([commentId], [postId], [userEmail], [commentContent], [commentDate], [commentStatus]) VALUES (1, 3, N'hieulm@gmail.com', N'alo alo', CAST(N'2020-09-24 00:00:00.000' AS DateTime), N'D')
INSERT [dbo].[tblComment] ([commentId], [postId], [userEmail], [commentContent], [commentDate], [commentStatus]) VALUES (2, 3, N'longlb@gmail.com', N'ola ola', CAST(N'2020-09-25 00:00:00.000' AS DateTime), N'D')
INSERT [dbo].[tblComment] ([commentId], [postId], [userEmail], [commentContent], [commentDate], [commentStatus]) VALUES (3, 3, N'hieulm@gmail.com', N'hello', CAST(N'2020-09-25 00:00:00.000' AS DateTime), N'D')
SET IDENTITY_INSERT [dbo].[tblComment] OFF
SET IDENTITY_INSERT [dbo].[tblEmotion] ON 

INSERT [dbo].[tblEmotion] ([emotionId], [postId], [userEmail], [emotionDate], [emotionType], [emotionStatus]) VALUES (1, 5, N'tindd@gmail.com', CAST(N'2020-09-28 16:15:37.643' AS DateTime), N'Like', N'A')
INSERT [dbo].[tblEmotion] ([emotionId], [postId], [userEmail], [emotionDate], [emotionType], [emotionStatus]) VALUES (2, 5, N'tindd@gmail.com', CAST(N'2020-09-28 16:15:03.527' AS DateTime), N'Dislike', N'D')
INSERT [dbo].[tblEmotion] ([emotionId], [postId], [userEmail], [emotionDate], [emotionType], [emotionStatus]) VALUES (3, 5, N'hieulm@gmail.com', CAST(N'2020-09-27 22:44:15.210' AS DateTime), N'Like', N'A')
SET IDENTITY_INSERT [dbo].[tblEmotion] OFF
SET IDENTITY_INSERT [dbo].[tblNotification] ON 

INSERT [dbo].[tblNotification] ([notificationId], [postId], [userEmail], [notificationContent], [notificationDate], [notificationType], [notificationStatus]) VALUES (1, 5, N'tindd@gmail.com', N'tindd@gmail.com has commented: noice', CAST(N'2020-09-28 16:15:31.370' AS DateTime), N'Comment', N'A')
INSERT [dbo].[tblNotification] ([notificationId], [postId], [userEmail], [notificationContent], [notificationDate], [notificationType], [notificationStatus]) VALUES (3, 5, N'vuquyhauTest@gmail.com', N'vuquyhauTest@gmail.com has reacted like emotion', CAST(N'2020-09-30 14:27:39.440' AS DateTime), N'React', N'D')
INSERT [dbo].[tblNotification] ([notificationId], [postId], [userEmail], [notificationContent], [notificationDate], [notificationType], [notificationStatus]) VALUES (4, 1, N'longlb@gmail.com', N'longlb@gmail.com has reacted like emotion', CAST(N'2020-09-28 13:50:04.427' AS DateTime), N'React', N'A')
SET IDENTITY_INSERT [dbo].[tblNotification] OFF
INSERT [dbo].[tblStatus] ([statusId], [statusName]) VALUES (N'A', N'Active')
INSERT [dbo].[tblStatus] ([statusId], [statusName]) VALUES (N'D', N'Delete')
INSERT [dbo].[tblStatus] ([statusId], [statusName]) VALUES (N'N', N'New')
INSERT [dbo].[tblUser] ([userEmail], [userName], [password], [userStatus]) VALUES (N'emiulethanhnam@gmail.com', N'Đệ Thầy Nam', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'N')
INSERT [dbo].[tblUser] ([userEmail], [userName], [password], [userStatus]) VALUES (N'hieulm@gmail.com', N'Hieu Le', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'A')
INSERT [dbo].[tblUser] ([userEmail], [userName], [password], [userStatus]) VALUES (N'hieulm0607@gmail.com', N'Ko Phai Hiu', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'A')
ALTER TABLE [dbo].[tblArticle]  WITH CHECK ADD  CONSTRAINT [FK_tblArticle_tblStatus] FOREIGN KEY([postStatus])
REFERENCES [dbo].[tblStatus] ([statusId])
GO
ALTER TABLE [dbo].[tblArticle] CHECK CONSTRAINT [FK_tblArticle_tblStatus]
GO
ALTER TABLE [dbo].[tblArticle]  WITH CHECK ADD  CONSTRAINT [FK_tblArticle_tblUser] FOREIGN KEY([userEmail])
REFERENCES [dbo].[tblUser] ([userEmail])
GO
ALTER TABLE [dbo].[tblArticle] CHECK CONSTRAINT [FK_tblArticle_tblUser]
GO
ALTER TABLE [dbo].[tblComment]  WITH CHECK ADD FOREIGN KEY([commentStatus])
REFERENCES [dbo].[tblStatus] ([statusId])
GO
ALTER TABLE [dbo].[tblComment]  WITH CHECK ADD FOREIGN KEY([userEmail])
REFERENCES [dbo].[tblUser] ([userEmail])
GO
ALTER TABLE [dbo].[tblComment]  WITH CHECK ADD  CONSTRAINT [FK_tblComment_tblArticle] FOREIGN KEY([postId])
REFERENCES [dbo].[tblArticle] ([postId])
GO
ALTER TABLE [dbo].[tblComment] CHECK CONSTRAINT [FK_tblComment_tblArticle]
GO
ALTER TABLE [dbo].[tblEmotion]  WITH CHECK ADD FOREIGN KEY([emotionStatus])
REFERENCES [dbo].[tblStatus] ([statusId])
GO
ALTER TABLE [dbo].[tblEmotion]  WITH CHECK ADD FOREIGN KEY([userEmail])
REFERENCES [dbo].[tblUser] ([userEmail])
GO
ALTER TABLE [dbo].[tblEmotion]  WITH CHECK ADD  CONSTRAINT [FK_tblEmotion_tblArticle] FOREIGN KEY([postId])
REFERENCES [dbo].[tblArticle] ([postId])
GO
ALTER TABLE [dbo].[tblEmotion] CHECK CONSTRAINT [FK_tblEmotion_tblArticle]
GO
ALTER TABLE [dbo].[tblNotification]  WITH CHECK ADD FOREIGN KEY([notificationStatus])
REFERENCES [dbo].[tblStatus] ([statusId])
GO
ALTER TABLE [dbo].[tblNotification]  WITH CHECK ADD FOREIGN KEY([userEmail])
REFERENCES [dbo].[tblUser] ([userEmail])
GO
ALTER TABLE [dbo].[tblNotification]  WITH CHECK ADD  CONSTRAINT [FK_tblNotification_tblArticle] FOREIGN KEY([postId])
REFERENCES [dbo].[tblArticle] ([postId])
GO
ALTER TABLE [dbo].[tblNotification] CHECK CONSTRAINT [FK_tblNotification_tblArticle]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblStatus] FOREIGN KEY([userStatus])
REFERENCES [dbo].[tblStatus] ([statusId])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblStatus]
GO
USE [master]
GO
